
@media(min-width: 992px){
    #contentWrap2{
        width: 50vw;
        margin-left: 25vw;
        margin-right: 25vw;
        margin-top: 20vh;
        margin-bottom: 5vh;
        background-color: #2b2822;
        box-shadow: 0 0 1px 1px rgba(0,0,0,0.4) inset; /*to make the border less crisp and mimic paper*/
    }
}

@media(max-width: 991px){
    #contentWrap2{
        width: 95vw;
        margin-left: 2.5vw;
        margin-right: 2.5vw;
        margin-top: 10vh;
        margin-bottom: 5vh;
        background-color: #2b2822;
        box-shadow: 0 0 1px 1px rgba(0,0,0,0.4) inset; /*to make the border less crisp and mimic paper*/
    }
}

.flexContainer
{
    display:flex;   
}

div.columns
{
    /*flex: 1;*/
   
}
 
div.columns:nth-of-type(2)
{
    flex: 2;
    justify-content:center;    
    flex-wrap: normal;
    background-color: #2b2822;
    color: white;
        
}

.infoText{
    font-family: "Bodoni MT", serif;
    font-size: 15px;
    line-height: 1.5;
    width: 100%;
    padding-bottom: 5vh;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 5vh;
    color: white;
}


.button:hover{
    transition: transform .2s;
    transform: scale(1.2);
    z-index: 100;
}

img {
    float: left;
}

.colCentered {
    float: none;
    margin: 0 auto;
}


#line {
    margin-top: -15px;
    margin-bottom: -30px;
    width: 100%;
}

.banner {
    margin-top: -5%;
    width: 110%;
    margin-left: -5%;
    margin-bottom: auto;
}

.mainPart {
    margin-right: 0;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.mainPart img {
    margin-right: 20px;
    margin-left: 20px;
}


.name{
    font-family: 'Bodoni MT', serif;
    font-size: 15px;
    line-height: 1.5;
    text-align: center;
    color: white;
}

.body {
    font-family: 'Bodoni MT', serif;
    font-size: 15px;
    line-height: 1.5;
    padding-left: 3vw;
    padding-right: 3vw;
    width: 100%;
}

.border {
  background-image: url("https://arc-anglerfish-arc2-prod-spectator.s3.amazonaws.com/public/DROGZ7EZYBEZDHZ5Q3DBXR7GJI.png");
  width: 48vw;
  height: 1vw;
  border-top: 1vw;
  padding-bottom: 1vw;
  margin-left: 1vw;
  margin-right: 1vw;
  margin-top: -4vw;
  margin-bottom: 2vw;
}

@media(min-width: 992px){
    .contentWrap{
      width: 50vw;
      margin-left: 25vw;
      margin-right: 25vw;
      margin-top: 20vh;
      margin-bottom: 5vh;
      background-image: url("https://arc-anglerfish-arc2-prod-spectator.s3.amazonaws.com/public/HL3OUWWIOFAHDICHHPKXIF3H74.png"); /*paper texture*/
      box-shadow: 0 0 1px 1px rgba(0,0,0,0.4) inset; /*to make the border less crisp and mimic paper*/
    }

    .contentWrap > .row {
        margin: 0;
        margin-top: 3vw;
    }
}

@media(max-width: 991px){
    .contentWrap .title {
        margin-bottom: -4vw;
        margin-top: -22vw;
        font-size: 14vw;
    }

    .contentWrap .heading{
        font-size: 16vw;
    }

    .contentWrap{
      width: 95vw;
      margin-left: 2.5vw;
      margin-right: 2.5vw;
      margin-top: 10vh;
      margin-bottom: 5vh;
      background-image: url("https://arc-anglerfish-arc2-prod-spectator.s3.amazonaws.com/public/HL3OUWWIOFAHDICHHPKXIF3H74.png"); /*paper texture*/
      box-shadow: 0 0 1px 1px rgba(0,0,0,0.4) inset; /*to make the border less crisp and mimic paper*/
    }

    .contentWrap > .row {
        margin: 0;
        margin-top: 3vw;
    }
}

.contentWrap > .row {
    margin: 0;
}

.wholeContain{
    padding-top: 6vh;

}

.title {

    width:100%;
    text-transform: uppercase;
    font-family: "Headliner No.45";
    text-align: left;
    font-size: 9vw;
    color:#d84e4e;
    padding-left: 15px;
    padding-right: 15px;
}

.part3link {
    width:100%;
    text-transform: uppercase;
    font-family: "Headliner No.45";
    text-align: right;
    font-size: 5vw;
    color:#d84e4e;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 0;
}

@media(min-width: 992px){
    .row41, .row42, .row43, .row44, .row45, .row46, .row47, .row48, .row49
    {
        display:none;
        clear:both;
        width:100%;
        padding-top: 2vw;
        padding-bottom: 2vw;
        padding-right: 3vw;
        padding-left: 3vw;
        font-family: 'Bodoni MT';
        text-align: center;
        color: black;
        background-color: white;
        border: solid 1px #c3c3c3;
        margin-top: 1vw;
        margin-bottom: 2vw;
        height: 40vw;
        overflow: scroll;
    }

    .row411, .row412, .row413, .row414, .row415, .row416, .row417, .row418, .row419
    {
        display:none;
        clear:both;
        width:100%;
        padding-top: 2vw;
        padding-bottom: 2vw;
        padding-right: 3vw;
        padding-left: 3vw;
        font-family: 'Bodoni MT';
        text-align: center;
        color: black;
        background-color: white;
        border: solid 1px #c3c3c3;
        margin-top: 1vw;
        margin-bottom: 2vw;
        height: 40vw;
        overflow: scroll;
    }

    .row421, .row422, .row423, .row424, .row425, .row426, .row427, .row428, .row429
    {
        display:none;
        clear:both;
        width:100%;
        padding-top: 2vw;
        padding-bottom: 2vw;
        padding-right: 3vw;
        padding-left: 3vw;
        font-family: 'Bodoni MT';
        text-align: center;
        color: black;
        background-color: white;
        border: solid 1px #c3c3c3;
        margin-top: 1vw;
        margin-bottom: 2vw;
        height: 40vw;
        overflow: scroll;
    }
}

@media(max-width: 991px){
    .row41, .row42, .row43, .row44, .row45, .row46, .row47, .row48, .row49
    {
        display:none;
        clear:both;
        width:100%;
        padding-top: 2vw;
        padding-bottom: 2vw;
        padding-right: 3vw;
        padding-left: 3vw;
        font-family: 'Bodoni MT';
        text-align: center;
        color: black;
        background-color: white;
        border: solid 1px #c3c3c3;
        margin-top: 1vw;
        margin-bottom: 2vw;
        height: 60vh;
        overflow: scroll;
    }

    .row411, .row412, .row413, .row414, .row415, .row416, .row417, .row418, .row419
    {
        display:none;
        clear:both;
        width:100%;
        padding-top: 2vw;
        padding-bottom: 2vw;
        padding-right: 3vw;
        padding-left: 3vw;
        font-family: 'Bodoni MT';
        text-align: center;
        color: black;
        background-color: white;
        border: solid 1px #c3c3c3;
        margin-top: 1vw;
        margin-bottom: 2vw;
        height: 60vh;
        overflow: scroll;
    }

    .row421, .row422, .row423, .row424, .row425, .row426, .row427, .row428, .row429
    {
        display:none;
        clear:both;
        width:100%;
        padding-top: 2vw;
        padding-bottom: 2vw;
        padding-right: 3vw;
        padding-left: 3vw;
        font-family: 'Bodoni MT';
        text-align: center;
        color: black;
        background-color: white;
        border: solid 1px #c3c3c3;
        margin-top: 1vw;
        margin-bottom: 2vw;
        height: 60vh;
        overflow: scroll;
    }
}


.container{
  display:flex;
  flex-wrap: wrap;
}

.flexGrid {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  justify-content: space-around;
  margin-bottom: 2vw;

}


[class*="col-"] {
  margin: 0 0 10px 0;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}