@font-face {
  font-family: "Headliner No.45";
 /* src:url("https://catfish.columbiaspectator.com/videos/HeadlinerNo45.ttf"); */
  src: url('../HeadlinerNo45.ttf')
}

@font-face {
font-family: "Old Newspaper Type";
/* src:url("https://catfish.columbiaspectator.com/videos/OldNewspaperTypes.ttf"); */
src: url('../OldNewspaperTypes.ttf')
}

@font-face {
font-family: "Bodoni MT";
/* src:url("https://catfish.columbiaspectator.com/videos/BodoniMT.ttf"); */
src: url('../BodoniMT.ttf')
}

.no-scroll {
  overflow: hidden;
}

.header-content-wrap > .row {
  margin: 0;
}

.no-gutter > [class*='col-'] {
  padding-right:0;
  padding-left:0;
}

.background{
  z-index: -5;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
   background-image: url("https://arc-anglerfish-arc2-prod-spectator.s3.amazonaws.com/public/SIRQGXCAVJAXHIT2TQGJNXT7YQ.jpg");
  background-size: cover;
  background-position: 0 -4vw;
}

.background-after {
  z-index: -4;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  background-color: rgba(41, 47, 85, 0.5);
}

@media(min-width: 992px){
  .header-content-wrap {
      width: 50vw;
      margin-left: 25vw;
      margin-right: 25vw;
      margin-top: 20vh;
      background-image: url("https://arc-anglerfish-arc2-prod-spectator.s3.amazonaws.com/public/HL3OUWWIOFAHDICHHPKXIF3H74.png"); /*paper texture*/
      box-shadow: 0 0 1px 1px rgba(0,0,0,0.4) inset; /*to make the border less crisp and mimic paper*/
      margin-bottom: 5vh
  }
}

@media(max-width: 991px){
  .header-content-wrap {
      width: 95vw;
      margin-left: 2.5vw;
      margin-right: 2.5vw;
      margin-top: 10vh;
      background-image: url("https://arc-anglerfish-arc2-prod-spectator.s3.amazonaws.com/public/HL3OUWWIOFAHDICHHPKXIF3H74.png"); /*paper texture*/
      box-shadow: 0 0 1px 1px rgba(0,0,0,0.4) inset; /*to make the border less crisp and mimic paper*/
      margin-bottom: 5vh
  }
}

.header-toprow::after{
  content: "";
  background-image: url("https://catfish.columbiaspectator.com/videos/linestroke2.png");
  background-size: cover;
  height: 5px;
  width: 100%;
}
@media(min-width: 992px){
  .header-eye-text{
      background: transparent;
      display: inline-block;
      width: 14vw;
      height: 6vw; 
      font-family: 'Old Newspaper Type', serif;
      font-size: 3vw;
      line-height: 100px; 
      padding-top: 1.5%; /* 5px*/
      text-align: center;
  }
  .header-special-ed-text{
      display: inline-block;
      float: right;
      width: 36vw;
      background-image: url("https://arc-anglerfish-arc2-prod-spectator.s3.amazonaws.com/public/HL3OUWWIOFAHDICHHPKXIF3H74.png");
      filter: invert(95%);
      height: 6vw;
      font-family: 'Headliner No.45';
      color: black;
      font-size: 5vw;
      letter-spacing: 0.8vw;
      line-height: 100px; /* 5vw*/
      padding-top: 2.8%;
      text-transform: uppercase;
      text-align: center;
  }
  
  .header-title {
      padding: 2.5%;
      text-transform: uppercase;
      font-family: "Headliner No.45";
  /*
      font-size: 11vw;
      line-height: 11vw;
  */

      font-size: 18vw;
      line-height: 18vw;
      color: black;
  }
  
  .header-byline {
      text-transform: none;
      font-family: "Old Newspaper Type";
      font-size: 2.5vw;
      line-height: 2.5vw;
      margin-top: -3vw;
      margin-bottom: 2vw;
      
      
  }

}

.header-byline p{
  padding-left:0vw !important;
}


@media(max-width: 991px){
  .header-eye-text{
      background: transparent;
      display: inline-block;
      width: 50%;
      height: 100px;
      font-family: 'Old Newspaper Type', serif;
      font-size: 8vw;
      line-height: 100px;
      padding-top: 5px;
      text-align: center;
  }
  
  .header-special-ed-text{
      display: inline-block;
      float: right;
      width: 36vw;
      background-image: url("https://arc-anglerfish-arc2-prod-spectator.s3.amazonaws.com/public/HL3OUWWIOFAHDICHHPKXIF3H74.png");
      filter: invert(95%);
      height: 100px;
      font-family: 'Headliner No.45';
      color: black;
      font-size: 5vw;
      letter-spacing: 0.8vw;
      line-height: 100px;
      padding-top: 10px;
      text-transform: uppercase;
      text-align: center;
  }
  
  .header-title {
      padding: 2.5%;
      text-transform: uppercase;
      font-family: "Headliner No.45";
  /*
      font-size: 11vw;
      line-height: 11vw;
  */

      font-size: 36vw;
      line-height: 36vw;
      color: black;
  }
  
  .header-byline {
      font-family: "Old Newspaper Type";
      text-transform: none;
      font-size: 5vw;
      line-height: 5vw;
  }
}

.header-next {
  width: 100%;
  display: flex;
  justify-content: center;
}

.header-title::after{
  content:"";
  display: block;
  height: 5px;
  width: 100%;
  background-image: url("https://catfish.columbiaspectator.com/videos/linestroke.png");
  background-size: cover;
  margin-top: -2%;
}

.header-lfe-text {
  margin-bottom: -3%;
  font-family: 'Old Newspaper Type', serif;
  font-size: 15px;
  line-height: 1.5;
  padding-left: 4%;
  color: black;
  /*background-color: black;
  color: white;
  transform: rotate(-10deg);
  margin-bottom: 3vw;
  width: 120%;
  margin-left: -10%;*/
}

.header-editor-letter {
  padding: 5%;
  font-family: 'Bodoni MT';
  font-size: 15px;
  line-height: 1.5;
}