.Row{
	display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    margin-bottom: 2vw;
}

.introText{
    clear:both;
    width:100%;
    padding-top: 2vw;
    padding-bottom: 2vw;
    padding-right: 3vw;
    padding-left: 3vw;
    font-family: 'Bodoni MT';
    text-align: center;
    color: black;
    background-color: white;
    border: solid 1px #c3c3c3;
    margin-top: 1vw;
    margin-bottom: 2vw;
    height: 40vw;
    overflow: scroll;
}